*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

button{
  border-radius: 1rem;
  cursor: pointer;
}

.entry{
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
.vote-message{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#btnBeginVote{
  font-size: x-large;
  border: 2px solid;
  background-color: white;
}

#btnBeginVote:hover{
  color: #EB0B0B;
  border-color: #5CBE12;
  transition: 0.35s;
}

#vote-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}